.section-grafico {
  width: 100%;
  display: flex;
  background: #291565;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
