.sidebar-nav a {
  display: flex;
  align-items: center; /* alinha ícone e texto verticalmente */
  gap: 4px; /* espaço entre ícone e texto */
  padding: 35px 12px;
  text-decoration: none;
  color: #fff; /* ajusta conforme seu tema */
}
.sidebar-nav img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
button {
  background-color: #291565;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
