.layout {
  display: flex;
  height: 100vh;
}

.main-content {
  font-family: "Syne", sans-serif;
  flex: 1;
  background-color: #fff;
  padding: 40px;
}

.grafico-linha-meses-por-dia-pizza {
  width: 100%;
  max-width: 700px;
  height: 400px;
}

.card {
  display: inline-block;
  width: 250px;
  height: 100px;
  color: white;
  text-align: center;
  background-color: #1f2937;
}
