.grafico-linha-meses-por-dia-pizza {
  width: 100%;
  max-width: 700px;
  height: 400px;
}

.dados-por-tipo-tecido {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 250px;
  height: 100px;
  color: white;
  text-align: center;
  background-color: #1f2937;
  border-radius: 10px;
}

.section-grafico-pizza {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.div-grafico-pizza {
  width: 100%;
  background: #291565;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.grafico-pizza-do-mes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grafico-linha-meses-por-dia-pizza {
  width: 500px;
}

.section-total-tipo-tecido {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.grafico-linha-meses-por-dia-pizza {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
