body,
html {
  margin: 0;
  height: 100%;
  font-family: "Syne", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  color: white;
  flex: 1;
  background-color: #291565;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
}

.right {
  color: white;
  flex: 1;
  background: #2a0046;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
  max-width: 700px;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

input,
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-content: center;

  
}


.btnCadastrar{
  position: relative;
  left: 175px;
  bottom: 58px;
  width: 100px;
  height: 35px;
}

.cadastrarUsu{
  position: relative;
  left: 157px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
}

.textCadastro{
  position: relative;
  top: 40px;
  opacity: 0.7;
  font-size: 13px;
  
}


.botaoEntrar{
  position: relative;
  text-decoration: none;
  background-color:#291565;
  color: white;
  font-size: 15px;
  width: 425px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  top: 50px;
  right: 90px;
}

.campoMatricula{
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 90px;
  top: 40px;
  border-radius: 25px;


}

.campoSenha{
  position: relative;
  right: 90px;
  top: 50px;
  width: 400px;
  border-radius: 25px;
}

.textoMatricula{
  font-size: 16px;
  position: relative;
  right: 80px;
  bottom: 37px;
}


.textoSenha{
  font-size: 16px;
  position: relative;
  right: 80px;
  bottom: 25px;
}