@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

body {
  font-family: "Syne", sans-serif;
}

.section-graficos-pizza {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
}

.section-cards-dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.section-graficos-mvp {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.card-dashboard {
  width: 250px;
  height: 100px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-dashboard h4 {
  font-size: 25px;
}
