.section-header-alterar-datas-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  height: 10vh;
  margin-top: 40px;
}

.datas-pre-definidas {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}

.data-personalizar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 10px;
}

.datas-pre-definidas button,
.data-personalizar button {
  background: #30006e;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.datas-pre-definidas button:hover {
  background: #200049;
}
