.section-historico-filters {
  width: 100%;
  padding: 10px;
}

.content-filter-historico {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-filter-input {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-historico {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filter-historico input {
  width: 100%;
  background: #fff;
  color: #000;
  height: 6vh;
  padding: 5px;
  border-radius: 5px;
}

.registros-historicos {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background: #1a3532;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}

.section-registros {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title-registros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.legend-historico {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.div-content-dados-historicos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-content-dados-historicos button {
  width: 100%;
  height: 5vh;
  background: #a7a7a7;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}

.content-modal-historico {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-historico {
  background: #fff;
  color: #000;
  width: 90vh;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.modal-historico-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-historico-header button {
  cursor: pointer;
}

.modal-historico-body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
  padding-top: 280px;
}

.data-item {
  width: 100%;
  background: #a7a7a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.div-secound-dados button {
  background: #2c8454;
  color: #fff;
}

.div-secound-dados button:hover {
  background: #2c6857;
}
