body {
  /* Cor de fundo */
  background: #11181c;

  /* Cor para os fundo dos graficos */
  background: #1a3532;
  background: #2c6857;

  /* Cor para o contraste em botões */
  background: #2c8454;

  /* Cor para os gráficos */
  background: #32dbc6;
  background: #4a4aff;
  background: #9013fe;
  background: #321cf9;
  background: #f5a623;
  background: #00cc00;
}
