<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diferença mensal</title>
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/diferenca_mensal.css">
</head>

<body>
  <div class="layout">
    <aside class="sidebar">
      <div class="sidebar-header">
        <img src="/frontend/images/malwee_logo-removebg-preview.png" alt="Logo" class="sidebar-logo" />
        <h2>Malwee</h2>
      </div>
      <nav class="sidebar-nav">
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="graficos.html">Gráficos</a></li>
          <li><a href="diferenca_mensal.html">Diferença Mensal</a></li>
          <li><a href="historico.html">Histórico</a></li>
          <li><a href="login.html">Voltar</a></li>
        </ul>
      </nav>
    </aside>

    <h1>Comparativo Mesal</h1>
    <h1>Última atualização</h1>
    <h1>26/09/2025</h1>
</body>

</html>