<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
</head>
<body>

    <main>
        <section>
            <div class="grafico-linha-meses" style="width: 1000px;">
                <canvas id="graficoLinhaTotal"></canvas>
            </div>

            
        </section>

    </main>


</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="./js/graficos.js"></script>

</html>