<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/frontend/css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img src="/frontend/images/malwee_logo-removebg-preview.png" alt="Logo da Empresa" />
        <h1>Bem-vindo!</h1>
        <h3>Grupo Malwee</h3>
      </div>

      <div class="right">
        <h2>Login</h2>
        <form>
          <input type="text" placeholder="Insira sua mátricula" />
          <input type="password" placeholder="Digite a sua senha" />
          <a href="/frontend/views/index.html"><button type="submit">Entrar</button></a>
        </form>
      </div>
    </div>
  </body>
</html>
