/* ====== RESET ====== */
body,
html {
  margin: 0;
  height: 100%;
  font-family: "Syne", sans-serif;
  background: linear-gradient(90deg, #160124 0%, #330253 100%);
  color: #fff;
}

/* ====== CONTAINER PRINCIPAL ====== */
.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

#flashMessage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ====== LADO ESQUERDO ====== */
.left {
  flex: 1;
  background-color: #1a2e35; /* azul petróleo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/* ====== LADO DIREITO ====== */
.right {
  font-family: "Syne", sans-serif;
  flex: 1;
  background-color: #162b2f; /* azul petróleo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
  max-width: 700px;
}

/* ====== FORMULÁRIO ====== */
form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

/* ====== LABELS ====== */
label {
  font-size: 18px;
  margin-bottom: 5px;
}

/* ====== INPUTS ====== */

input {
  padding: 12px;
  border-radius: 25px;
  border: none;
  width: 100%;
  font-family: "Syne", sans-serif;
}

/* ====== BOTÃO ====== */
.btnCadastro {
  width: 200px;
  text-decoration: none;
  background-color: #00a86b;
  color: #1a2e35;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btnCadastro:hover {
  background-color: #ffd347;
}

/* ====== TÍTULO ====== */
.tituloCad {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

/* ====== SEÇÃO CADASTRO/LOGIN ====== */

.textCadastro {
  font-size: 13px;
  opacity: 0.8;
}

.cadastrarUsu {
  color: #e2b714;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

.div-form-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    flex: unset;
    max-width: unset;
  }

  form {
    max-width: 90%;
  }
}
