/* ====== SELEÇÃO DE MESES ====== */
.section-selecionar-meses {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-selecionar-meses {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: #1a2e35; /* azul petróleo do tema */
}

.div-selecionar-meses input {
  width: 100%;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* ====== SEÇÃO DOS GRÁFICOS ====== */
.section-graficos-diferencas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.section-graficos-grandes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.section-grafico-diferenca-tempo-producao,
.section-grafico-diferenca-total-metros-produzidos,
.section-grafico-diferenca-total-tempo-setup {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a2e35; /* azul petróleo */
  gap: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.div-grafico-diferenca-total {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a2e35; /* azul petróleo */
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.div-mostrar-grafico-mes-metros-produzidos,
.div-mostrar-grafico-mes-tempo-produzidos,
.div-mostrar-grafico-mes-tempo-setup-produzidos,
.grafico-linha-numeo-tarefas-tempo-setup,
.div-mostrar-grafico-mes-tempo-produzidos,
.grafico-linha-meses {
  width: 100%;
}

section h1 {
  text-align: center;
}

/* ====== AJUSTE DE RESPONSIVIDADE ====== */
@media (max-width: 900px) {
  .section-graficos-diferencas,
  .section-graficos-grandes {
    flex-direction: column;
    align-items: center;
  }

  .section-grafico-diferenca-tempo-producao,
  .section-grafico-diferenca-total-metros-produzidos {
    width: 90%;
  }

  .div-mostrar-grafico-mes-tempo-produzidos,
  .grafico-linha-meses {
    max-width: 100%;
  }
}
