.section-grafico {
  width: 100%;
  display: flex;
  background: #291565;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.section-primeiros-graficos {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.div-total-primeiros-graficos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #291565;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
}

.grafico-pizza-total-tipo-tecido,
.grafico-barra-tarefas-completas {
  width: 300px;
}
