.section-primeiros-graficos-tipos-tecidos {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  background: #1a2e35; /* azul petróleo */
}

/* ====== CARD DOS GRÁFICOS ====== */
.div-total-primeiros-graficos {
  width: 100%;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.div-content-grafico-por-tipo-tecido {
  padding: 20px;
  width: 100%;
}

.content-tipo-tecido-grafico {
  width: 100%;
}

.div-content-grafico-pizza {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-content-filtros-grafico-pizza {
  width: 50%;
  height: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-header-setup {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.content-header-setup select {
  width: 100%;
}

.div-content-dados-tecido-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dados-tecido {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #1a2e35;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.div-content-dados-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.div-content-dados-body select {
  width: 100%;
  height: 5vh;
  padding: 5px;
}

.section-grafico {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: #1a2e35;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.section-grafico-barra-tempo-setup {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: #1a2e35;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.div-content-setup-first,
.div-content-setup-secound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grafico-linha-meses {
  width: 100%;
}

.div-content-setup-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-content-header {
  background: #1a2e35;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e2b714;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.div-content-setup-dados {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.data-content-dados {
  background: #1a2e35;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e2b714;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.div-content-setup-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.div-content-setup-body select {
  width: 100%;
  height: 6vh;
  padding: 10px;
}

.content-body-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

@media (max-width: 900px) {
  .section-primeiros-graficos {
    flex-direction: column;
    align-items: center;
  }

  .div-total-primeiros-graficos {
    width: 90%;
  }

  .grafico-pizza-total-tipo-tecido,
  .grafico-barra-tarefas-completas {
    width: 100%;
    max-width: 300px;
  }
}
