.section-filtrar-registros {
  width: 100%;
  background: var(--azul-petroleo) !important;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.section-cards-registros {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-content-modal-registros {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background: rgba(0, 0, 0, 0.5);
}

.modal-registros {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.modal-registros-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-registros-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.body-table {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  padding: 20px;
}

.table-dados {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

#cardsHistoricos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 500px;
  height: auto;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--azul-petroleo) !important;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 10px;
}

.card-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card-footer button {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.div-filtrar-registros {
  width: 50%;
  padding: 10px;
}

.div-filtrar-registros input,
.div-selecionar-tipo-filtro select {
  width: 100%;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.div-selecionar-tipo-filtro {
  width: 50%;
  padding: 10px;
}

#btnFecharModal {
  padding: 10px 20px 10px 20px;
  background: #00a86b;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
}

#btnFecharModal:hover {
  background: #e2b714;
}

@media (max-width: 900px) {
  .section-primeiros-graficos {
    flex-direction: column;
    align-items: center;
  }

  .div-total-primeiros-graficos {
    width: 90%;
  }

  .grafico-pizza-total-tipo-tecido,
  .grafico-barra-tarefas-completas {
    width: 100%;
    max-width: 300px;
  }
}
