@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

.section-graficos-diferencas,
.section-graficos-grandes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.section-grafico-diferenca-tempo-producao,
.section-grafico-diferenca-total-metros-produzidos {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.div-grafico-diferenca-total-tempo-producao,
.div-grafico-diferenca-total-metros-produzidos {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a2e35; /* azul petróleo */
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.div-grafico-diferenca-total-tempo-producao h1,
.div-grafico-diferenca-total-metros-produzidos h1 {
  color: #e2b714; /* amarelo mostarda */
  font-size: 1.1rem;
  text-align: center;
}

.div-mostrar-grafico-mes-tempo-produzidos,
.grafico-linha-meses {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====== CARDS INDEX ====== */
#cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 250px;
  height: 100px;
  color: #e2b714; /* amarelo mostarda */
  text-align: center;
  background-color: #1a2e35; /* azul petróleo */
  border-radius: 10px;
}

.section-grafico-pizza {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.div-grafico-pizza {
  width: 100%;
  background: #1a2e35;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.grafico-pizza-do-mes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grafico-linha-meses-por-dia-pizza {
  width: 100%;
  max-width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-total-tipo-tecido {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 900px) {
  .section-graficos-diferencas,
  .section-graficos-grandes {
    flex-direction: column;
    align-items: center;
  }

  .section-grafico-diferenca-tempo-producao,
  .section-grafico-diferenca-total-metros-produzidos {
    width: 90%;
  }

  .div-mostrar-grafico-mes-tempo-produzidos,
  .grafico-linha-meses,
  .grafico-linha-meses-por-dia-pizza {
    max-width: 100%;
  }

  #cards {
    flex-direction: column;
    align-items: center;
  }
}
