body {
  margin: 0;
  font-family: "Syne", sans-serif;
  background: linear-gradient(90deg, #160124 0%, #330253 100%);
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

/* LADO ESQUERDO */
.left {
  color: #fff;
  flex: 1;
  background-color: #1a2e35; /* azul petróleo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/* LADO DIREITO */
.right {
  color: #fff;
  flex: 1;
  background: #162b2f; /* azul petróleo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
  max-width: 700px;
  width: 100px;
}

/* FORMULÁRIO */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

button,
.botaoEntrar {
  text-decoration: none;
  background-color: #00a86b;
  color: #1a2e35;
  font-size: 15px;
  width: 425px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
}

.botaoEntrar {
  width: 200px;
  background-color: #078355;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.botaoEntrar:hover {
  background-color: #ffd347;
}

.campoMatricula,
.campoSenha {
  width: 400px;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* LABELS */
.textoMatricula,
.textoSenha {
  font-size: 16px;
  color: #fff;
}

.cadastro-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}

.cadastrarUsuario {
  text-decoration: none;
  color: #fff;
}

.cadastrarUsuario:hover {
  color: rgb(206, 192, 0);
}
