body {
  margin: 0;
  font-family: "Syne", sans-serif;
  background: linear-gradient(90deg, #160124 0%, #330253 100%);
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

/* LADO ESQUERDO */
.left {
  color: #fff;
  flex: 1;
  background-color: #1a2e35; /* azul petróleo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/* LADO DIREITO */
.right {
  color: #fff;
  flex: 1;
  background: #162b2f; /* azul petróleo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
  max-width: 700px;
  width: 100px;
}

/* FORMULÁRIO */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

button,
.botaoEntrar {
  text-decoration: none;
  background-color: #00a86b;
  color: #1a2e35;
  font-size: 15px;
  width: 425px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
}

.btnCadastrar {
  position: relative;
  left: 175px;
  bottom: 58px;
  width: 100px;
  height: 35px;
  background-color: #00a86b;
  color: #1a2e35;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.cadastrarUsu {
  position: relative;
  left: 157px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #e2b714; /* amarelo mostarda */
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
}

.textCadastro {
  position: relative;
  top: 40px;
  opacity: 0.7;
  font-size: 13px;
}

.campoMatricula,
.campoSenha {
  width: 400px;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* LABELS */
.textoMatricula,
.textoSenha {
  font-size: 16px;
  color: #fff;
}
