:root {
  --verde-malwee: #00a86b;
  --azul-petroleo: #1a2e35;
  --cinza-claro: #f4f4f4;
  --cinza-medio: #a3a3a3;
  --grafite: #222222;
  --amarelo-mostarda: #e2b714;
  --verde-claro: #6fcf97;
  --vermelho-suave: #eb5757;
}
